<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bkmi.de.hftl_app" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/hftl_l_3c_n"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".NewsActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EinstellungActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_einstellung"
            android:parentActivityName=".NewsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="bkmi.de.hftl_app.NewsActivity" />
        </activity>
        <activity
            android:name=".NewsClickedActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_news_clicked"
            android:parentActivityName=".NewsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="bkmi.de.hftl_app.NewsActivity" />
        </activity>
    </application>

</manifest>
