<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bkmi.de.hftl_app" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".NewsActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NotenActivity"
            android:label="@string/title_activity_noten"
            android:parentActivityName=".NewsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".NewsActivity" />
        </activity>
        <activity
            android:name=".UeberHftlActivity"
            android:label="@string/title_activity_ueber_hftl"
            android:parentActivityName=".NewsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".NewsActivity" />
        </activity>

    </application>

</manifest>
